<ng-container *ngIf="getAvailableTier(Intelligence) as tier">
  <mat-card class="title">
    <mat-card-content>
      <p>SPELLS TIER {{tier > 1 ? '1 + 2' : '1'}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="entities-container">
    <mat-card-content>
      <ng-container *ngIf="tier >= 1">
        <div class="stat-items-container">
          <ng-container *ngFor="let spell of TIER_ONE_SPELLS">
            <mat-card [ngClass]="getSpellClass(spells, spell.name)" (click)="selectSpell(spell.name)" class="card" [matTooltip]="spell.description">
              <mat-card-content>
                <p>{{spell.name}} <span>{{spell.cost}}MP</span></p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="tier === 2">
        <div class="stat-items-container">
          <ng-container *ngFor="let spell of TIER_TWO_SPELLS">
            <mat-card [ngClass]="getSpellClass(spells, spell.name)" (click)="selectSpell(spell.name)" class="card" [matTooltip]="spell.description">
              <mat-card-content>
                <p>{{spell.name}} <span>{{spell.cost}}MP</span></p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>

</ng-container>
