.stat-name {
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.value-col {
  text-align: right;
}

td, th {
  font-size: 1.2rem;
}

.stat-head-row {
  display: none !important;
}

.stat-row {
  white-space: nowrap;
}

.stat-strength {
  background-color: rgba(255, 0, 0, 0.4) !important;
}
.stat-charisma {
  background-color: rgba(250, 81, 250, 0.4) !important;
}
.stat-endurance {
  background-color: rgba(255, 239, 160, 0.4) !important;
}
.stat-intelligence {
  background-color: rgba(50, 77, 252, 0.4) !important;
}
.stat-agility {
  background-color: rgba(91, 187, 4, 0.4) !important;
}
.stat-perception {
  background-color: rgba(128, 0, 128, 0.4) !important;
}
.stat-luck {
  background-color: rgba(255, 145, 0, 0.4) !important;
}

.control-button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  color: #fff;
}

.control-button.minus {
  font-size: 2rem;
}
