<div class="container">
  <div class="controls">
    <a mat-raised-button routerLink="../import">Go to import</a>
    <button mat-raised-button (click)="clear()">Clear</button>
  </div>

  <ng-container *ngIf="adminData">
    <ng-container *ngFor="let character of adminData | keyvalue">
      <mat-card>
        <mat-card-content>
          <mat-card-header>
            <div class="character-name">{{character.key}}</div>
          </mat-card-header>
          <div class="stats-table-container">
            <app-stats-table
              [isCharacterCreated]="true"
              [points]="0"
              [stats]="character.value.stats"
            ></app-stats-table>
          </div>
          <app-detailed-stats
            [statsMap]="character.value.statsMap"
            [spells]="character.value.spells"
          ></app-detailed-stats>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
