.container {
  padding: 20px;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.controls {
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.stats-table-container {
  margin-bottom: 30px;
}

.character-name {
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
