<div class="container">
  <div class="controls">
    <a mat-raised-button routerLink="../import">Go to import</a>
    <button mat-raised-button (click)="clear()">Clear</button>
  </div>

  <ng-container *ngIf="adminData">
    <ng-container *ngFor="let character of adminData | keyvalue">
      <mat-card>
        <mat-card-content>
          <mat-card-header>
            <div class="character-name">{{character.key}}</div>
          </mat-card-header>
          <app-stats-table
            [isCharacterCreated]="true"
            [points]="0"
            [stats]="character.value.stats"
          ></app-stats-table>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
