:host {
  width: 100%;
}

.card {
  color: #fff;
  font-weight: 500;
}

.card.hp { background-color: #d73131; }
.card.melee-damage { background-color: #674622; }
.card.unarmed { background-color: #ff9d4f; }
.card.mp { background-color: #0e81bd; }
.card.retry-attempts { background-color: #93801e; }
.card.armor-class { background-color: #7e7e7e; }
.card.death-points { background-color: #000000; }
.card.dodge { background-color: #77bb54; }
.card.range-damage { background-color: #386023; }
.card.stealth { background-color: #481a7a; }
.card.action-points { background-color: #769866
}

.icon {
  color: #fff;
}
