<ng-container *ngIf="generalStatsStateService.getState() as state">
  <div class="container">
    <mat-card appearance="raised">
      <mat-card-header>
        <app-character-name-input
          [defaultName]="state.characterName"
          (onCharacterNameChange)="setCharacterName($event)"
          [isDisabled]="state.isCharacterCreated"
        ></app-character-name-input>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="!state.isCharacterCreated">
          <p class="points-counter">Free points left: {{state.points}}</p>
        </ng-container>
        <div class="stats-table-container">
          <app-stats-table
            [isCharacterCreated]="state.isCharacterCreated"
            [stats]="state.stats"
            [points]="state.points"
          ></app-stats-table>
        </div>
        <app-detailed-stats
          [statsMap]="state.statsMap"
          [spells]="state.spells"
          (onSpellSelected)="selectSpell($event, state.spells, state.isCharacterCreated)"
        ></app-detailed-stats>
      </mat-card-content>

      <mat-card-footer class="footer">
        <ng-container *ngIf="!state.isCharacterCreated">
          <button
            [disabled]="isCreateButtonDisabled(state.points, characterName, state.statsMap, state.spells)"
            (click)="createCharacter(state, characterName)"
            mat-raised-button
            color="accent"
            class="create-btn"
          >Create character</button>
        </ng-container>
        <ng-container *ngIf="state.isCharacterCreated">
          <button
            (click)="exportCharacterData()"
            mat-raised-button
            color="primary"
            class="export-btn"
          >Export character data</button>
        </ng-container>
        <ng-container *ngIf="state.isCharacterCreated">
          <button
            (click)="resetCharacter()"
            mat-raised-button
            color="warn"
            class="reset-btn"
          >Reset character data</button>
        </ng-container>
        <app-dice-roller-btn
          [statsMap]="state.statsMap"
        ></app-dice-roller-btn>
      </mat-card-footer>
    </mat-card>
  </div>
</ng-container>
