.container {
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.input {
  width: 100%;
}

.character-name {
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.import-btn {
  width: 100%;

  margin-bottom: 30px;
}

.stats-table-container {
  margin-bottom: 30px;
}
