<div class="container">
  <div class="controls">
    <a mat-raised-button routerLink="../board">Go to board</a>
  </div>

  <mat-form-field [color]="'accent'" appearance="outline" class="input">
    <input
      [(ngModel)]="characterJSON"
      matInput
      placeholder="Insert character data"
    >
  </mat-form-field>

  <button class="import-btn" mat-raised-button color="accent" (click)="import(characterJSON)">Import</button>

  <ng-container *ngIf="characterData">
    <mat-card>
      <mat-card-content>
        <mat-card-header>
          <div class="character-name">{{characterData.characterName}}</div>
        </mat-card-header>
        <app-stats-table
          [isCharacterCreated]="true"
          [points]="0"
          [stats]="characterData.stats"
        ></app-stats-table>
      </mat-card-content>
    </mat-card>
  </ng-container>

</div>
